/*
 initial code from: https://codepen.io/101Computing/pen/wEbEqx
*/

div#announcement-wrapper {
  background: green;
  padding: 5px;
  font-size: small;
}

p.announcement-action {
  font-size: normal;
  font-weight: bold;
}

body {
  background: black;
  color: #DDDDDD;
  font-family: courier new;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}

#grid {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border: 2px solid #ececec;
}

#grid TR TD{
  padding: 0px;
  width: 14px;
  height: 14px;
  font-size: x-small;
  font-weight: bold;
  text-align: center;
  cursor: default !important;
  border: 1px solid #b0b0d0;
  padding: 1px;
  background: #c0c0d0;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

#grid TR TD[data-status=default],
#grid TR TD[data-status=flagged] {
  border: 2px outset #ececec;
  padding: 0px;
}

/*
#0000ff, #008100, #ff1300, #000083, #810500, #2a9494, #000000, #808080;
*/

#grid TR TD[data-value="1"] {
    color: #0000ff !important;
}

#grid TR TD[data-value="2"] {
    color: #008100;
}

#grid TR TD[data-value="3"] {
    color: #ff1300;
}

#grid TR TD[data-value="4"] {
    color: #000083;
}

#grid TR TD[data-value="5"] {
    color: #810500;
}

#grid TR TD[data-value="6"] {
    color: #2a9494;
}

#grid TR TD[data-value="7"] {
    color: #000000;
}

#grid TR TD[data-value="8"] {
    color: #808080;
}

#grid TR TD.mine {
    background: #dd5050;
    border: 1px inset orange;
    padding: 1px;
}

#grid TR TD.flag {
    background: #80d080;
}

#grid TR TD.wrong {
    background: orange;
    color: #FF0000;
}

#grid TR TD.correct {
    background: #00FF00;
    color: #000000;
}

div.hint-wrapper {
  max-width: 500px;
  padding: 0 30px;
  margin: 0 auto 30px;
}

span.hint,
ol.instructions li {
  font-size: small;
  text-align: left !important;
}

button {
  margin: 12px;
}